:root {
	--white: rgba(255, 0, 0, 1);
}

#root {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
}

#left,
#right {
	display: flex;
	flex-direction: column;
	justify-content: start;
	height: 100%;
}

#left {
	/* background-color: blue; */
	width: 30%;
}

#right {
	background-color: red;
	flex-grow: 1;
}
