#left-content {
	flex-grow: 1;
	display: flex;
	justify-content: start;
	height: 100%;
	background-color: var(--theme-white);
}

#left-search {
	height: 7%;
	width: 100%;
	background-color: red;
	display: flex;
	align-items: center;
}

#left-search .child {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#search-bar {
	height: 65%;
	flex-grow: 1;
	background-color: grey;
	margin-left: 10px;
	border-radius: 5px;
}

#search-input {
	flex-grow: 1;
	margin-right: 10px;
	height: 90%;
	background-color: grey;
	border: 0px;
	font-size: 2vh;
}

#search-input:focus {
	outline: none;
}
