#root {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
}

#left,
#right {
	display: flex;
	flex-direction: column;
	justify-content: start;
	height: 100vh;
}

#left {
	width: 30%;
}

#right {
	border-left: 1px solid var(--border-white);
	flex-grow: 1;
}
